<div class="main-content-wrapper d-flex clearfix">

  <!-- Mobile Nav (max width 767px) Start -->
  <app-mobile-nav></app-mobile-nav>
  <!-- Mobile Nav (max width 767px) End -->

  <!-- Header Area Start -->
  <app-header></app-header>
  <!-- Header Area End -->

  <div class="cart-table-area section-padding-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="cart-title mt-50">
            <h2>Shopping Cart</h2>
          </div>

          <div class="cart-table clearfix">
            <table class="table table-responsive">
              <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
              </tr>
              </thead>
              <tbody *ngIf="products">

              <tr *ngFor="let item of products">
                <td class="cart_product_img">
                  <a href="#"><img src="assets/img/bg-img/cart1.jpg" alt="Product"></a>
                </td>
                <td class="cart_product_desc">
                  <h5>{{item.name}}</h5>
                </td>
                <td class="price">
                  <span>₹{{item.price}}</span>
                </td>
                <td class="qty">
                  <div class="qty-btn d-flex">
                    <p>Qty</p>
                    <div class="quantity">
                      <span class="qty-minus" (click)="removeQuantity(item.id)"><i class="fa fa-minus" aria-hidden="true"></i></span>
                      <input disabled type="number" class="qty-text" id="qty" name="quantity" [value]="item.count">
                      <span class="qty-plus" (click)="addQuantity(item.id)"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>

        </div>
        <div class="col-12 col-lg-4">
          <div class="cart-summary">
            <h5>Cart Total</h5>
            <ul class="summary-table">
              <li><span>subtotal:</span> <span>₹{{subTotal}}</span></li>
              <li><span>delivery:</span> <span>{{delivery === 0 ? 'Free' : '₹' + delivery}}</span></li>
              <li><span>total:</span> <span>₹{{total}}</span></li>
            </ul>
            <div class="cart-btn mt-100">
              <button (click)="checkout()" class="btn amado-btn w-100">Checkout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
